<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>B I E N V E N I D O</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link href="#" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body class="main-layout">
	<!-- header inner -->
	<header>
		<div class="header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
						<div class="full">
							<div class="center-desk">
								<span class="wd fl" th:if="${session.usuario != null}">Bienvenido/a<span
									class="form-italic wd" th:text="${session.usuario.nombre}"></span></span>
							</div>
						</div>
					</div>
					<div class="col-xl-9 col-lg-9 col-md-9">
						<nav class="navbar navbar-expand-lg navbar-light bg-light">
							<div class="collapse navbar-collapse fr" id="navbarSupportedContent">
								<ul class="navbar-nav mr-auto">
								<li class="dropdown"><a href="#" th:href="@{/public/index}"><span class="co">Inicio</span> <i class="bi bi-chevron-down"></i></a>
								<li class="dropdown"><a href="#"><span class="co">Configuración </span> <i class="bi bi-chevron-down"></i></a>
									<ul th:if="${session.usuario.role == 'ROL_ADMIN'}">
										<li ><a class="pd" th:href="@{/admin/listrrhh}">RRHH</a></li>
										<li ><a class="pd" th:href="@{/admin/listalumnos}">ALUMNOS</a></li>
										<li ><a class="pd" th:href="@{/admin/ciclos}">CICLOS</a></li>
										<li ><a class="pd" th:href="@{/admin/noticias}">NOTICIAS</a></li>
										<li ><a class="pd" th:href="@{/admin/ofertas}">OFERTAS</a></li>
									</ul>
									<ul th:if="${session.usuario.role == 'ROL_ALUMNO'}">
										<li><a class="co" href="#" th:href="@{/users/editUser}">Editar Perfil</a></li>
									</ul>
									<li th:if="${session.usuario.role == 'ROL_ADMIN'}" class="dropdown"><a href="#"><span class="co">Inscripciones</span> <i class="bi bi-chevron-down"></i></a>
										<ul>
											<li ><a class="pd" th:href="@{/admin/inscripciones}">Listado de inscripciones</a></li>
										</ul>
									</li>
								<li th:if="${session.usuario.role == 'ROL_RRHH'}" class="dropdown"><a th:href="@{/users/showofertas}"><span class="co">Ofertas</span> </a></li>
								<li th:if="${session.usuario.role == 'ROL_ALUMNO'}" class="dropdown"><a th:href="@{/users/showofertas}"><span class="co">Ofertitas</span> </a></li>
								<li class="dropdown"><a href="#"  th:href="@{/auth/login}"><span>Salir </span> <i class="bi bi-chevron-down"></i></a>
								</ul>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</header>
      <section class="banner_main">
      <div class="container" th:if="${session.usuario.role == 'ROL_ALUMNO'}">
      <h2 class="pcha">NOTICIAS RELACIONADAS CON SU CICLO</h2>
      </div>
      <div th:if="${session.usuario.role == 'ROL_ALUMNO'}" th:each="noticia:${noticias}">
         <div class="container card-padding">
         		 <div  class="row df card-title">
	         		<div class="col-6">
	         			<h3>Titulo :</h3>
	         		</div>
	         		<div class="col-6 fr">
	         			<span class="form-italic wd" th:text="${noticia.titulo}"> </span>
	         		</div>
         		</div>
         		<div  class="row df card-body">
	         		<div class="col-6">
	         			<h3>Id :</h3>
	         		</div>
	         		<div class="col-6 fr">
	         			<span class="form-italic wd" th:text="${noticia.id}"> </span>
	         		</div>
         		</div>
         		<div  class="row df card-body">
	         		<div class="col-6">
	         			<h3>Descripción :</h3>
	         		</div>
	         		<div class="col-6 fr">
	         			<span class="form-italic wd" th:text="${noticia.descripcion}"> </span>
	         		</div>
         		</div>
         		<div  class="row df card-body">
	         		<div class="col-6">
	         			<h3>Imagen :</h3>
	         		</div>
	         		<div class="col-6 fr">
	         			<span class="form-italic wd"><img th:src="@{/imgs/} + ${noticia.imagen}" /></span>
	         		</div>
         		</div>
         		<div  class="row df card-footer">
	         		<div class="col-6">
	         			<h3>Ciclo :</h3>
	         		</div>
	         		<div class="col-6 fr">
	         			<span class="form-italic wd" th:text="${noticia.cicloId.nombre}"></span>
	         		</div>
         		</div>
         	</div>
         </div>
           <div th:if="${session.usuario.role == 'ROL_ALUMNO'}" class="container">
      	 <p>
      	 	<a class="areto" data-toggle="collapse" href="#footwear" aria-expanded="false" aria-controls="footwear">Ver noticias de otros ciclos</a>
		</p>
		<div class="collapse pd" id="footwear">
			<div class="pd" th:each="hola:${holas}" th:if="${session.usuario.cicloId} != ${hola.cicloId}">
				<div class="row df card-title">
	         		<div class="col-6">
	         			<h3>Titulo :</h3>
	         		</div>
	         		<div class="col-6 fr">
	         			<span class="form-italic wd" th:text="${hola.titulo}"> </span>
	         		</div>
         		</div>
         		<div  class="row df card-body">
	         		<div class="col-6">
	         			<h3>Id :</h3>
	         		</div>
	         		<div class="col-6 fr">
	         			<span class="form-italic wd" th:text="${hola.id}"> </span>
	         		</div>
         		</div>
         		<div  class="row df card-body">
	         		<div class="col-6">
	         			<h3>Descripción :</h3>
	         		</div>
	         		<div class="col-6 fr">
	         			<span class="form-italic wd" th:text="${hola.descripcion}"> </span>
	         		</div>
         		</div>
         		<div  class="row df card-body">
	         		<div class="col-6">
	         			<h3>Imagen :</h3>
	         		</div>
	         		<div class="col-6 fr">
	         			<span class="form-italic wd"><img th:src="@{/imgs/} + ${hola.imagen}" /></span>
	         		</div>
         		</div>
         		<div  class="row df card-footer">
	         		<div class="col-6">
	         			<h3>Ciclo :</h3>
	         		</div>
	         		<div class="col-6 fr">
	         			<span class="form-italic wd" th:text="${hola.cicloId.nombre}"></span>
	         		</div>
         		</div>
			 </div>
		</div>
      </div>
	</section>
</body>
</html>