<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Registro de Usuario</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="#" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
 <div class="main-w3layouts wrapper">
    <h1>Editar Oferta</h1>
    <div class="main-agileinfo">
      <div class="agileits-top">
        <form th:action="@{/users/updateoferta/} + ${oferta.id}" th:object="${oferta}" class="pos" method="post">
          <label class="lab">Titular</label><input class="text" type="text" name="titular" placeholder="Titular" th:field="*{titular}">
          <label class="lab">Descripción</label><input class="text" type="text" name="descripcion" placeholder="Descripcion" th:field="*{descripcion}">
          <label class="lab">Requisitos</label><input class="text" type="text" name="requisitos" placeholder="Requisitos" th:field="*{requisitos}">
          <label class="lab fl">Número de candidatos</label><input class="text" type="number" name="numCandidatos" placeholder="Número de candidatos" th:field="*{numCandidatos}">
          <label class="lab fl">Fecha Máxima</label><input type="date" name="fechaMax" th:field="*{fechaMax}"/>
          <label class="lab ps">CicloId</label>
	          <select th:field="*{cicloId.id}" class="text" name="cicloId">
	          	<option th:each="ciclo:${ciclos}"
	          		th:value="${ciclo.id}"
	          		th:text="${ciclo.nombre}"
	          		/>
	          </select>
          <div class="wthree-text">
            <div class="clear"> </div>
          </div>
          <input type="submit" value="EDITAR">
        </form>
	    <button class="boton" th:onclick="window.location.href='/public/index'">
	       <span>CANCELAR</span>
	    </button>
      </div>
    </div>
  </div>
  <!-- //main -->
</body>
</html>